# Node
node_modules

# Next.js
.next/
out/

# Build
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Env
.env*

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor
.vscode/
.idea/
*.swp

# OS
Thumbs.db
Desktop.ini
